services:
  mysql:
    image: mysql:8.0
    container_name: ptm-mysql
    environment:
      MYSQL_DATABASE: crud_app
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d

  backend:
    build:
      context: ./backend
    container_name: ptm-backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/crud_app?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
    container_name: ptm-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  mysql_data:
